[Unit]
Description=epon gwprovision service
After=rg_network.service

[Service]
Type=forking
PIDFile=/tmp/.gwprovepon.pid
ExecStart=/usr/ccsp/gw_prov_epon
ExecStop=/bin/kill -HUP $(/bin/cat /tmp/gwprovepon.pid)
ExecStop=/bin/rm /tmp/.gwprovepon.pid
#Restart=always
StandardOutput=syslog+console

[Install]
WantedBy=multi-user.target
