[Unit]
Description=epon gwprovision service
After=rg_network.service

[Service]
Type=forking
PIDFile=/tmp/.gwprovepon.pid
ExecStartPre=/bin/sh /usr/ccsp/utopia_init_mips.sh
ExecStart=/usr/ccsp/gw_prov_epon
ExecStop=/bin/kill -HUP $(/bin/cat /tmp/gwprovepon.pid)
ExecStop=/bin/rm /tmp/.gwprovepon.pid
StandardOutput=syslog

[Install]
WantedBy=multi-user.target
